.hc-banner
  position: fixed
  top: 0
  right: -270px
  width: 320px
  bottom: 0
  background: #474747
  text-align: center
  color: #222
  font-size: 20px
  -webkit-transition: all 0.25s ease
  z-index: 999999999999

.hc-banner--active
  -webkit-transform: translateX(-270px)
