node_modules
/client/static/assets
lib-cov
*.seed
*.log
*.csv
*.dat
*.out
*.pid
*.gz

pids
logs
results

npm-debug.log

extension/content.js
extension/bg.js
extension/Gruntfile.js
extension/popup.js
extension/popup.css
