.radial
  position: absolute
  top: 0
  left: 0
  right: 0
  bottom: 0
  z-index: 200
  background: radial-gradient(transparent,black)

.entries
  position: absolute
  width: 100%
  left: 0
  transform: translateZ(0)
  transition: transform 0.3s ease
  counter-reset: number

.entry
  position: absolute
  left: 0
  width: 100%
  top: 0

.entry:nth-child(2)
  left: 100%

.entry:nth-child(3)
  left: 200%

.entry:nth-child(4)
  left: 300%

.entry:nth-child(5)
  left: 400%

.entry
  flex-wrap: wrap
  padding: 10px
  padding-top: 80px
  counter-increment: number
  &:before
    position: absolute
    top: 0
    width: 100%
    font-size: 75px
    text-align: center
    content: counter(number)
    display: block
    color: rgba(255,255,255,0.3)

.entry__counter
  position: absolute
  top: 10px
  left: 10px
  color: #fff
  font-weight: bold
  text-shadow: 0 1px 1px rgba(0,0,0,0.8)
  line-height: 60px
  text-align: center
  width: 0px
  height: 0px
  border-style: solid
  border-width: 60px 60px 0 0
  border-color: orange transparent transparent transparent

.entry__details
  text-align: center

.entry__title
  font-weight: bold
  overflow: hidden

.entry__subtitle
  font-weight: normal
  font-size: 14px
  color: #999

.entry__thumb
  width: 260px
  height: 260px
  background-size: cover
  margin: 0 auto
  margin-bottom: 20px
  position: relative
  z-index: 20

.nav
  display: none

.collection
  .chart
    display: flex
    height: 100%
    counter-reset: chart
    margin-right: 20px

  .entry
    position: relative
    padding: 0
    background: none
    height: 100% !important
    border-top: 0
    margin: 1px
    width: 50px
    left: 0 !important
    flex-basis: none
    counter-increment: chart
    margin-left: 5px
    border: 1px solid #333
    &:after
      position: absolute
      top: 0
      right: 0
      color: #fff
      font-family: 'Roboto', sansserif
      font-weight: bold
      font-size: 12px
      width: 20px
      height: 20px
      line-height: 20px
      text-align: center
      content: counter(chart)
      display: block
      background-color: #333
      border: 1px solid #222
      border-top: 0
      border-right: 0
      letter-spacing: 0
      z-index: 20
    &:before
      display: none
    &:first-child
      width: 50px

  .entry__details
    display: none

  .entry__title
    display: none

  .entry__subtitle
    display: none

  .entry__thumb
    margin-right: 0
    box-shadow: 0 2px 1px rgba(0,0,0,0.4)
    cursor: pointer
    top: 0
    left: 0
    right: 0
    bottom: 0
    width: auto
    height: 100% !important
    margin-bottom: 0
    backface-visibility: hidden
    &:before
      opacity: 0
      background-color: #1e1e1e
      position: absolute
      display: flex
      justify-content: center
      align-items: center
      font-size: 14px
      content: ''
      color: #fff
      width: 100%
      height: 100%
      font-family: 'FontAwesome'
      content: "\f057"
      transition: opacity 0.25s ease
      border: 1px solid #333

  .entry__thumb:hover:before
    opacity: 1

@media only screen and (min-width: 768px)
  
  .nav
    display: flex
    align-items: center
    justify-content: center
    height: 300px
    position: absolute
    bottom: 0
    width: 100%
    left: 0
    right: 0
    z-index: 300

  .chart-toggle
    margin-left: 20px
  
  .entries
    top: 50%
    margin-top: -203px

  .entry:before
    font-size: 140px
    top: -100px

  .entry:nth-child(2)
    left: 50%

  .entry:nth-child(3)
    left: 100%

  .entry:nth-child(4)
    left: 150%

  .entry:nth-child(5)
    left: 200%

  .entry__thumb
    width: 300px
    height: 300px
