
.item
  position: relative
  cursor: pointer
  display: flex

.item--selected
  .item__overlay:before
    opacity: 0.75
  .item__add
    opacity: 1
    transform: scale(1.25)
    background-color: #222
    color: darken(green,20%)
  .item__thumb img
    animation: fadeOutDown 0.8s ease forwards

.item--selected:before
  position: absolute
  width: 32px
  height: 32px
  display: block
  font-family: 'FontAwesome'
  content: "\f00c"
  z-index: 200
  color: #222
  font-weight: bold
  top: 12px
  left: 10px
  text-align: center
  line-height: 32px
  font-size: 18px
  opacity: 0
  animation: fadeIn 0.5s 0.75s ease forwards
  background-color: #fff
  border-radius: 30px
  transition: opacity 0.5s ease

.item__overlay
  position: absolute
  display: flex
  align-items: center
  justify-content: center
  transition: opacity 0.1s ease
  top: 4px
  right: 4px
  bottom: 4px
  left: 4px
  border-radius: 5px
  display: none
  &:before
    top: 0
    left: 0
    opacity: 0
    position: absolute
    content: ''
    display: block
    background-color: #000
    height: 100%
    width: 100%

.item__thumb
  background-color: #242424
  border-radius: 5px
  border-bottom: 1px solid #3C3C3C
  box-shadow: inset 0 1px 2px rgba(0,0,0,0.4)
  width: 50px

.item__add
  opacity: 0
  display: block
  color: #fff
  width: 40px
  height: 40px
  display: flex !important
  align-items: center
  justify-content: center
  border-radius: 20px
  border: 2px solid #fff
  font-size: 14px
  transition: transform 0.2s ease

.item img
  height: 100%
  width: 100%
  border-radius: 5px

.item__details
  color: #fff
  border-radius: 0 0 5px 5px
  padding: 10px
  z-index: 150
  flex: 1

.item__title
  font-size: 14px
  width: 200px
  text-overflow: ellipsis
  white-space: nowrap
  overflow: hidden
  margin-bottom: 0

.item__subtitle
  color: #eee
  font-size: 13px
  font-weight: normal
  margin-bottom: 0

@media only screen and (min-width: 768px)

  .item
    float: left
    width: 33.333333333%
    height: 244px
    padding: 2px

  .item__remove
    position: absolute
    top: 0
    right: 0
    width: 50px
    height: 50px
    display: flex
    align-items: center
    justify-content: center
    color: #fff
    z-index: 150
    opacity: 0
    transition: opacity 0.3s ease
    display: none

  .item--selected:before
    position: absolute
    width: 60px
    height: 60px
    display: block
    z-index: 200
    color: green
    font-weight: bold
    top: 50%
    margin-top: -30px
    left: 50%
    margin-left: -30px
    text-align: center
    line-height: 60px
    font-size: 32px
    opacity: 0
    animation: fadeIn 0.5s 0.75s ease forwards
    background-color: #111
    border-radius: 30px
    transition: opacity 0.5s 0.2s ease

  .item--selected .item__remove
    opacity: 1

  .item__thumb
    top: 2px
    right: 2px
    bottom: 2px
    left: 2px
    position: absolute
    margin: 2px
    width: auto
    z-index: 100

  .item__details
    position: absolute
    bottom: 4px
    left: 4px
    right:4px
    background-color: rgba(0,0,0,0.8)
    flex: auto


@media only screen and (min-width: 800px)

  .item
    height: 256px

@media only screen and (min-width: 1024px)

  .item
    width: 25%

@media only screen and (min-width: 1200px)

  .item
    height: 311px

  .item:hover
    .item__overlay
      opacity: 1
    .item__add
      transform: scale(1.25)

@media only screen and (min-width: 1600px)
  
  .item
    width: 20%

@media only screen and (min-width: 1700px)
  
  .item
    width: 16.666666667%
    height: 261px

@media only screen and (min-width: 1920px)

  .item
    height: 300px

@media only screen and (min-width: 2100px)

  .item
    height: 330px