.item.suggestion
  .item__overlay
    i.fa.fa-check.item__add
  .item__details
    h4.item__title {{title}}
    h4.item__subtitle {{subtitle}}
  .item__thumb
    img(src="{{image}}", title="{{title}}")
