

!!! 5
html(lang="en")
  head
    meta(charset="utf-8")
    meta(name="apple-mobile-web-app-capable",content="yes")
    meta(name="viewport",content="width=device-width, initial-scale=1.0, maximum-scale=1.0,user-scalable=no")
    != SocketStream
    title Hipcharts
    link(rel="stylesheet",href="font-awesome/css/font-awesome.css")
    link(rel="stylesheet",href="animations.css")
  body
    #finder.app
      include header
      .results
        .search.suggestions
          .search__title Searching for 
            span#query some
            //- .spinner
            //-   .rect1
            //-   .rect2
            //-   .rect3
            //-   .rect4
            //-   .rect5
          .container.results__list
            //- .results__header Searching  
            //-   span#query Mac Miller
            //- include register
        .suggestions
          .alert.alert--lastfm
            .container.alert__container
              h2.alert__title Do you use 
                strong last.fm
                | ?
              form.alert__form#last-fm-form
                input(type="text",id="last-fm-username",class="alert__input",placeholder="What's your username?")
                button(type="submit").alert__action Show most played
              a(href="#").alert__cancel No, skip this step.
          .alert.alert--register
            .container.alert__container
              include register
          .container#suggestions.results__list
            //- h2.suggestions__title  What were your favourite albums of 2013?
        //- #collection.collection
        //-   .collection__scroll
        //-     ul.list.entries
    
