

!!! 5
html(lang="en")
  head
    meta(charset="utf-8")
    meta(name="apple-mobile-web-app-capable",content="yes")
    meta(name="viewport",content="width=device-width, initial-scale=1.0, maximum-scale=1.0,user-scalable=no")
    != SocketStream
    title Hipcharts
    link(rel="stylesheet",href="font-awesome/css/font-awesome.css")
    link(rel="stylesheet",href="animations.css")
  body
    #finder.app
      include header
      .content
        //- .tip Remember to use the search box above to find any album!
        //-   i.fa.fa-times-circle.tip__hide
        .module.module--spaced#collection
          .container
            h4.module__title
              span jaseflow's
              | Top 5 Albums of 2013
            ul.chart.entries
        .module.search
          .module__title Searching for 
            span#query some
          .container.results__list
        .module.landing#lastfm
          .landing__img
          .container.alert__container.landing__content
            .landing__logo
            h1.landing__title Hipcharts 
            h2.landing__strap Create your 
              strong top fives 
              | and contribute to real time social charts!
            h3.alert__title Before you begin, do you have a 
              strong last.fm 
              | account?
            form.alert__form#last-fm-form
              input(type="text",id="last-fm-username",autocomplete="off",class="alert__input",placeholder="Enter your username")
              button(type="submit").alert__action Show most played
            a#get-default-suggestions(href="#suggestions").alert__cancel.go No, just show me popular suggestions.
        .module#register
          .container.alert__container
            include register
        .module.module--spaced#suggestions
          h3.module__title What are your top five albums of 2013?
          .container#suggestions-list.results__list
        .collection
          .chart
        .footer
          .footer__links
            a(href="#") Terms &amp; Conditions
            a(href="#") Privacy Policy

