

!!! 5
html(lang="en")
  head
    meta(charset="utf-8")
    meta(name="apple-mobile-web-app-capable",content="yes")
    meta(name="viewport",content="width=device-width, initial-scale=1.0, maximum-scale=1.0,user-scalable=no")
    != SocketStream
    title Hipcharts
    link(rel="stylesheet",href="font-awesome/css/font-awesome.css")
    link(rel="stylesheet",href="animations.css")
  body
    #finder.app
      //- include header
      .content
        //- .tip Remember to use the search box above to find any album!
        //-   i.fa.fa-times-circle.tip__hide
        .module#collection
            ul.chart.entries
        .module.search
          .module__title Searching for 
            span#query some
          .container.results__list
        .module.module--active.landing.bg-image#lastfm
          .landing__img
          .container.alert__container.bg-image-content
            .slides
              .slides__slider
                .slide
                  .landing__logo
                  h1.landing__title Hipcharts 
                  h2.landing__strap Create your 
                    strong top fives 
                    | and contribute to real time social charts!
                  a(href="#").button.button--large.next-slide Start charting
                .slide.slide--two
                  form.form#last-fm-form
                    label.form__label Would you you like to see your 
                      strong last.fm 
                      | suggestions?
                    .form__wrap
                      .form__error
                        #error-message This is an error message
                      input(type="text",id="last-fm-username",autocomplete="off",class="form__input",placeholder="Enter your username")
                      button(type="submit").form__action Show your most played
                  a#get-default-suggestions(href="#suggestions").alert__cancel.go Nope, just show me popular popular.
        .module#register.bg-image
          .landing__img
          .container.alert__container.bg-image-content
            .signup
              h2 Create your account
            include register
        .module#suggestions
          .finder
            i.finder__clear.fa.fa-search
            input#search-toggle.finder__input(placeholder="eg. Acid Rap")
            //- span#query Mac Miller
            .spinner
              .rect1
              .rect2
              .rect3
              .rect4
              .rect5  
          #suggestions-list.results__list
        .collection
          .collection__hd
            h2.collection__title What are your top five albums of 2013
            a.button.button--inactive(id="publish", href="#register") Publish
          .collection__tray
            .chart
        //- .footer
          .footer__links
            a(href="#") Terms &amp; Conditions
            a(href="#") Privacy Policy

