

!!! 5
html(lang="en")
  head
    meta(charset="utf-8")
    meta(name="apple-mobile-web-app-capable",content="yes")
    meta(name="viewport",content="width=device-width, initial-scale=1.0, maximum-scale=1.0,user-scalable=no")
    != SocketStream
    title Hipcharts
    link(rel="stylesheet",href="font-awesome/css/font-awesome.css")
    link(rel="stylesheet",href="animations.css")
  body
    include login
    #finder.app
      include header
      .content
        //- .tip Remember to use the search box above to find any album!
        //-   i.fa.fa-times-circle.tip__hide
        .module#collection
            ul.chart.entries
        .module.search
          .module__title Searching for 
            span#query some
          .container.results__list
        .module.module--active.landing.bg-image#lastfm
          .lastfm
          .landing__img
          .container.alert__container.bg-image-content
            .slides
              .slides__slider
                .slide
                  .landing__logo
                  h1.landing__title Hipcharts 
                  h2.landing__strap Create your 
                    strong top fives 
                    | and contribute to real time social charts!
                  a(href="#").button.button--large.next-slide Start charting
                .slide.slide--two
                  form.form
                    label.form__label Would you like to use 
                      strong last.fm 
                      | for suggestions?
                    .form__wrap.answers
                      a.button.button--filled.next-slide.answers__btn(id="yes") Yes
                      a.button.get-default-suggestions.answers__btn(href="#suggestions").go No
                .slide.slide--three
                  form.form#last-fm-form
                    label.form__label.flat What is your username?
                    .form__wrap
                      .form__error
                        #error-message This is an error message
                      input(type="text",id="last-fm-username",autocomplete="off",class="form__input",placeholder="Enter your username")
                      button(type="submit").button.button--block.button--filled Show your most played
                  a.get-default-suggestions(href="#suggestions").alert__cancel.go I don't use last.fm, continue with default suggestions.
        .module#register.bg-image
          .landing__img
          .container.alert__container.bg-image-content
            include register
        .module.module--spaced#suggestions
          #suggestions-list.results__list
        .footer
          .collection__title What were your top five albums of 2013?
          .collection
            .chart
          a.button.button--inactive(id="publish", href="#register") Publish

