

!!! 5
html(lang="en")
  head
    meta(charset="utf-8")
    meta(name="apple-mobile-web-app-capable",content="yes")
    meta(name="viewport",content="width=device-width, initial-scale=1.0, maximum-scale=1.0,user-scalable=no")
    != SocketStream
    title Hipcharts
    link(rel="stylesheet",href="font-awesome/css/font-awesome.css")
    link(rel="stylesheet",href="animations.css")
  body
    #finder.app
      include header
      .content
        .module#collection
          .container
            h4 jaseflow Top 5 Albums of 2013
            ul.list.entries
        .search.module
          .search__title Searching for 
            span#query some
          .container.results__list
        .module.module--lastfm#lastfm
          .container.alert__container
            h2.alert__title Do you use 
              strong last.fm
              | ?
            form.alert__form#last-fm-form
              input(type="text",id="last-fm-username",autocomplete="off",class="alert__input",placeholder="What's your username?")
              button(type="submit").alert__action Show most played
            a#get-default-suggestions(href="#suggestions").alert__cancel.go No, skip this step.
        .module#register
          .container.alert__container
            include register
        .module#suggestions
          .container#suggestions-list.results__list
    
