

!!! 5
html(lang="en")
  head
    meta(charset="utf-8")
    meta(name="apple-mobile-web-app-capable",content="yes")
    meta(name="viewport",content="width=device-width, initial-scale=1.0, maximum-scale=1.0,user-scalable=no")
    != SocketStream
    title Hipcharts
    link(rel="stylesheet",href="font-awesome/css/font-awesome.css")
    link(rel="stylesheet",href="animations.css")
  body
    #finder.app
      .header
        .container.header__wrap
          .logo
          .finder
            i.fa.fa-times-circle.finder__clear
            input#search-toggle.finder__input(placeholder="eg. Acid Rap")
          .button View chart
      .results
        .search.suggestions
          .search__title Searching for 
            span#query some
            //- .spinner
            //-   .rect1
            //-   .rect2
            //-   .rect3
            //-   .rect4
            //-   .rect5
          .container.results__list
            //- .results__header Searching  
            //-   span#query Mac Miller
            //- include register
        .suggestions
          .alert.alert--lastFM
            .container.alert__container
              h2.alert__title Enter your 
                strong last.fm
                |  user name for more accurate suggestions
              form.alert__form
                input(type="text",id="last-fm",class="alert__input",placeholder="Your last.fm username")
                button(type="submit").alert__action
                  i.fa.fa-save
                  | Save
              a(href="#").alert__cancel No thanks
          .container#suggestions
            //- h2.suggestions__title  What were your favourite albums of 2013?
        //- #collection.collection
        //-   .collection__scroll
        //-     ul.list.entries
    
