.header
  .container.header__wrap
    .logo
    .finder
      i.fa.fa-times-circle.finder__clear
      input#search-toggle.finder__input(placeholder="eg. Acid Rap")
    .button.header__action Save your chart