.header
  .header__wrap
    .logo
    .finder
      i.finder__clear.fa.fa-search
      input#search-toggle.finder__input(placeholder="eg. Acid Rap")
    a(href="#").header__link.login-link Login
    a(href="#").header__link.logout-link Logout