.header
  .header__wrap
    .logo
    .finder
      i.finder__clear.fa.fa-search
      input#search-toggle.finder__input(placeholder="Search by artist name")
    .controls
      a.button.button--white.button--small Share
    a(href="#").header__link.login-link Login
    a(href="#").header__link.logout-link Logout