.header.header--visible
  .header__wrap
    .logo
    a(href="#login").header__link.login-link.go Sign in
    a(href="#").header__link.logout-link Sign out
    .finder
      i.finder__clear.fa.fa-search
      input#search-toggle.finder__input(placeholder="Search by artist name")
    .collection
      .chart
      a.button.button--small.button--inactive.go(id="publish", href="#register") Publish
    .controls
      a.button.button--small.button--blue Share