.header
  .header__wrap
    .logo
    .finder
      i.fa.fa-search.finder__clear
      input#search-toggle.finder__input(placeholder="eg. Acid Rap")
    a.button.header__action.go(href="#register") Save your chart
    a(href="#").logout Logout