form#login-form.login
  .register__window
    .register__group
      input(id="email", autofocus, required, type="email", autocomplete="off",placeholder="Enter your email address").register__input
      label.register__label Email
    .register__group
      input(id="password", type="password", autocomplete="off").register__input
      label.register__label Password
    .register__group
      button(type="submit").register__action Login
