

!!! 5
html(lang="en")
  head
    meta(charset="utf-8")
    meta(name="apple-mobile-web-app-capable",content="yes")
    meta(name="viewport",content="width=device-width, initial-scale=1.0, maximum-scale=1.0,user-scalable=no")
    != SocketStream
    title Hipcharts
    link(rel="stylesheet",href="font-awesome/css/font-awesome.css")
    link(rel="stylesheet",href="animations.css")
  body
    #finder.app.app--user
      include header
      .results
        #collection.collection
          .collection__scroll
            //- ul.list.entries.results__list
            .container
              .entry
                .entry__thumb
                .entry__content
                  .entry__title Old
                  .entry__subtitle Danny Brown
